<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                 <pattern>app=spring-boot-observability,level=%level</pattern>
            </label>
            <message>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %-5level [traceId=%X{traceId:-} spanId=%X{spanId:-}] %logger{36} - %msg%n
                </pattern>
            </message>
        </format>
        <batch>
            <maxItems>1</maxItems>
            <maxTimeoutMs>500</maxTimeoutMs>
        </batch>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>
</configuration>